<div class="footer">
    <div class="toc-pp">
        <p><a class="toc" href="/termsandcondition">Terms and Conditions</a> <a class="pp" href="/privacypolicy">Privacy Policy</a></p>
    </div>
    <div class="share-logo">
        <p class="share-logo-p">
            <a href="https://www.facebook.com/PureVishuddha/" target="_blank"><i class="fab fa-facebook icons"
                    style="color: #1877F2;"></i></a>
            <a href="https://twitter.com/CropsVishuddha" target="_blank"><i class="fab fa-twitter icons"
                    style="color: #1DA1F2;"></i></a>
            <a href="https://www.instagram.com/vishuddhacrops/" target="_blank"><i class="fab fa-instagram icons"
                    style="color: #E1306C;"></i></a>
            <a href="https://www.linkedin.com/company/vishuddha-crops/" target="_blank"><i class="fab fa-linkedin icons"
                    style="color: #2867B2;"></i></a>
        </p>
    </div>
    <p class="website">WWW.VISHUDDHACROPS.COM</p>
    <p class="place">NEW DELHI, INDIA</p>
    <div class="phone-number">
        <a href="tel:+916386417658" style="text-decoration: none;color: rgb(138, 117, 34);">+91 6386417658</a>
    </div>
    <div class="copyright-trademark-connect">
        <p class="copyright">COPYRIGHT © 2021 VISHUDDHACROPS.COM - ALL RIGHTS RESERVED.</p>
        <div class="trademark-connect flex">
            <div class="trademark">TRADE MARK AND REGISTERED.</div>
            <div style="flex:1;"></div>
            <div class="connect">CONNECT IN WORKING HOURS.</div>

        </div>

    </div>
</div>


<script src="" async defer></script>
</body>

</html>