<br><br><br><br><br><br><br><br><br><br>

<div class="footer">
    <div class="toc-pp">
        <p><a class="toc" href="/termsandcondition">Terms and Conditions</a> | <a class="pp"
                href="/privacypolicy">Privacy
                Policy</a></p>
    </div>
    <div class="share-logo">
        <p class="share-logo-p">
            <a href="https://www.facebook.com/PureVishuddha/" target="_blank" rel="noreferrer"><i
                    class="fab fa-facebook icons" style="color: white;"></i></a>
            <a href="https://twitter.com/CropsVishuddha" target="_blank" rel="noreferrer"><i
                    class="fab fa-twitter icons" style="color: white;"></i></a>
            <a href="https://www.pinterest.com/Vishuddhacrops/" target="_blank" rel="noreferrer"><i
                    class="fab fa-pinterest icons"></i></a>
            <a href="https://www.instagram.com/vishuddhacrops/" target="_blank" rel="noreferrer"><i
                    class="fab fa-instagram icons" style="color: white;"></i></a>
            <a href="https://www.linkedin.com/company/vishuddha-crops/" target="_blank" rel="noreferrer"><i
                    class="fab fa-linkedin icons" style="color: white;"></i></a>
        </p>
    </div>
    <p class="website"><a href="/">WWW.VISHUDDHACROPS.COM</a></p>
    <div class="phone-number">
        <a href="tel:+916386417658">+91 6386417658</a>
    </div>
    <p class="place">NEW DELHI, INDIA</p>

    <div class="copyright-trademark-connect">
        <p class="copyright">COPYRIGHT © 2021 VISHUDDHACROPS.COM - ALL RIGHTS RESERVED.</p>
        <div class="trademark-connect flex">
            <div class="trademark">TRADE MARK AND REGISTERED.</div>
            <div style="flex:1;"></div>
            <div class="connect">CONNECT IN WORKING HOURS.</div>

        </div>

    </div>
</div>


</body>

</html>