<form action="/admin" method="POST">
<input type="text" name = "username" placeholder="Enter admin username" required>
<input type="password" name = "password" placeholder="Enter admin password" required>
<button type="submit">Login</button>
</form>