<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <form action="/send" method="POST">

        <div
            style="margin: 0 auto;display: inherit; margin-top: 50px;border-radius: 5px;width: 49%;font-family: Lato, arial, sans-serif;color: #b89e37;">
            <h2>Subject:</h2>
        </div>
        <input style="margin: 0 auto;display: inherit;border-radius: 5px;width: 49%;" type="text" name="Subject">
        <div
            style="margin: 0 auto;display: inherit; margin-top: 50px;border-radius: 5px;width: 49%;font-family: Lato, arial, sans-serif;color: #b89e37;">
            <h3>Enter the mail data:</h3>
        </div>
        <textarea style="margin: 0 auto;display: inherit;border-radius: 5px;  resize: none;" name="textarea" rows="20"
            cols="100"></textarea>

        <button class="send_button" type="submit">Send</button>

    </form>
</body>

</html>