<%- include('head-foot/header'); -%>

<div class="main_box_blog_1">  
    <%for(var i=0;i<post.length;i+=2){%>
        <% if(i+1<post.length) { %>
            
            <div class="blog_number"> 
                <div class="blog_left">
                
                </div>
                <div class="blog_right">

                </div>
            </div>    
        <% } %> 
        <% if(i+1>=post.length) { %>
           
        <div class="blog_number"> 
                <div class="blog_center">

                </div>
        </div>
        <% } %> 
    <%}%>

</div>



<%- include('head-foot/footer'); -%>






<script>
    document.getElementById("blog").style.borderBottom = "2px solid rgb(212, 180, 53)";
    document.getElementById("blog").style.paddingBottom = "5px";
    document.getElementById("blog").style.boxShadow="0px 5px 5px #e8e8e8";
</script>