<%- include('head-foot/header'); -%>
<div class="main_box_2">
    <form action="/change/<%= id %>" method="POST">
<input class = "mailinput" type="password" id = "myInput" name = "password" placeholder="Enter New Password">
<br>
<br>
<br>
<input type="checkbox" onclick="myFunction()">Show Password
<br>
<button class = "btn-register-login" type="submit">Change</button>
</form>
</div>
<script>
    function myFunction() {
  var x = document.getElementById("myInput");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
</script>

<%- include('head-foot/footer'); -%>