<%- include('head-foot/header'); -%>

<div class="contact_flex">
    <h3 class="contact_msg1">Its better to connect than speculate!</h3>
    <h3 class="contact_msg2">We love our customers, so feel free to connect during normal business hours.</h3>
    <!-- <a class="whatsapp" href="https://wa.me/916386417658" target="_blank">
        <i class="fab fa-whatsapp"></i> Message us on WhatsApp
    </a> -->
    <h3 class="contact_msg1">www.vishuddhacrops.com</h3>
    <p class="contact_msg2">New Delhi, Delhi, India</p>
    <br>
    <a href="mailto:vishuddhacrops@gmail.com">vishuddhacrops@gmail.com</a>
    <br>
    <a href="tel:+916386417658">+91 6386417658</a>
    <br>
    <h3 class="contact_current">Current Status: <span id="status"></span></h3>
    <h3 class="contact_timing">Timings</h3>
    <p>Mon-Fri: 10:00am to
        6:00pm</p>
    <p>Sat: 10:30am to
        4:30pm</p>
    <p>Sun: Closed</p>
</div>







<script>
    document.getElementById("contactus").style.borderBottom = "0.13020833333333334vw solid rgb(0, 0, 0)";
    document.getElementById("contactus").style.paddingBottom = "0.3255208333333333vw";
    // document.getElementById("contactus").style.boxShadow = "0px 5px 5px #e8e8e8";

    //                document.querySelectorAll("#status")[0].innerText = "Opening Soon";



    var d = new Date();
    var n = d.getDay();
    var n1 = d.getHours()
    var n2 = d.getMinutes()
    for (var i = 1; i < 6; i++) {
        if (n == i) {
            if (n1 >= 10 && n1 <= 17) {
                document.querySelectorAll("#status")[0].innerText = "Open";
            } else {
                document.querySelectorAll("#status")[0].innerText = "Closed";
            }
        }
    }
    if (n == 6) {
        if (n1 >= 10 && n2 >= 30) {
            if (n1 <= 16 && n2 <= 30) {
                document.querySelectorAll("#status")[0].innerText = "Open";
            } else {
                document.querySelectorAll("#status")[0].innerText = "Closed";
            }
        } else {
            document.querySelectorAll("#status")[0].innerText = "Closed";
        }
    }
    if (n == 0) {
        document.querySelectorAll("#status")[0].innerText = "Closed";
    }
</script>


<%- include('head-foot/footer'); -%>