<%- include('head-foot/header'); -%>
<h1 style="text-align: center; font-size: 42px;   font-family: Lato, arial, sans-serif;font-weight: 100;margin-top: 80px;
">Email doesn't exist</h1>

<%- include('head-foot/footer'); -%>