<%- include('head-foot/header'); -%>
<div class="main_box_2">
<form action="/forgot" method="POST">
    <p class="namefield_all" style="margin-bottom: 0;">Email-</p><br>
<input type="text" name="email" placeholder="Enter Your Email" class="mailinput">
<button class = "btn-register-login" type="submit">Submit</button>
</form>
</div>
<%- include('head-foot/footer'); -%>