<%- include('head-foot/header'); -%>

<div class="note_flex">
    <h4 class="note_head">HEALTH & WEALTH</h4>
    <p class="note_p">You, me, our families, everyone looks forward to live a healthy life and food is the most
        important part of our lives. Do you know that the food you are eating, can be impure ?
        <br>
        <br>



        Today most of the products in the market are mixed and adulterated and the reason behind this is that a pure
        product is always expensive. Let's take an example of edible oil, our country is currently edible oil
        deficient-this means our consumption of pure oil is less. In order to meet our needs, the edible oils are mixed
        and adulterated.

        <br>
        <br>


        The process of producing pure oil is expensive because it requires hard work, time and good quality oil seeds.
        When the process becomes expensive, the oil manufacturer's margin reduces, they try to compensate this margin by
        paying less prices to farmers. So, farmers stop producing, leading to adulteration and deficiency of oil
        resulting in unhealthy lifestyle.
        <br>
        <br>
        Our mission is to make our country edible oil deficiency free. Apart from edible oils, we want our people to use
        pure products and to understand the importance of healthy living. But it will cost us something i.e to pay our
        farmers for the hard work they do.
        <br>
        At Vishuddha we are dedicated towards making the best quality pure products because we care for you and your
        family. On the other hand, we care for our farmers too. We pay them what they deserve. Now it's your turn.

    </p>
</div>

<%- include('head-foot/footer'); -%>





<script>
    document.getElementById("foundersnote").style.borderBottom = "2px solid rgb(212, 180, 53)";
    document.getElementById("foundersnote").style.paddingBottom = "5px";

    // document.getElementById("foundersnote").style.boxShadow = "0px 5px 5px #e8e8e8";
</script>