<%- include('head-foot/header'); -%>
<br><br><br>
<div class="note_flex">
    <h4 class="note_head_1">GIFT VISHUDDHA OILS</h4><br>
    <p class="note_p_1">Remembrance is the essence of Gifting.
        <br>
        <br>
        You deserve nothing less.
    </p>
    <br><br>
    <div class="phone-number">
        Contact: <a href="tel:+916386417658" style="text-decoration: none;color: rgb(138, 117, 34);">+91 6386417658</a>
    </div>
    <div class="phone-number">
        Email: <a href="mailto:vishuddhacrops@gmail.com"
            style="text-decoration: none;color: rgb(138, 117, 34);font-family: Lato, arial, sans-serif;">vishuddhacrops@gmail.com</a>
    </div>
    <br><br><br><br><br><br><br><br>
</div>






<script>
    document.getElementById("corporate_g").style.borderBottom = "2px solid rgb(212, 180, 53)";
    document.getElementById("corporate_g").style.paddingBottom = "5px";

    // document.getElementById("foundersnote").style.boxShadow = "0px 5px 5px #e8e8e8";
</script>


<%- include('head-foot/footer'); -%>
