<%- include('head-foot/header'); -%>

<h2 style="opacity: 0;position: absolute;">Almond oil</h2>
<h2 style="opacity: 0;position: absolute;">Coconut oil</h2>
<h2 style="opacity: 0;position: absolute;">Luxury</h2>
<h2 style="opacity: 0;position: absolute;">Luxury Almond oil</h2>
<h2 style="opacity: 0;position: absolute;">Luxury Coconut oil</h2>


<div class="carousel-container">
    <div class="carousel-slide">
        <img src="https://lh3.googleusercontent.com/pw/AM-JKLWLb9XIX-v90NQp9gXBvdPRyVCIQ_fIJw2_HIH7RkAXZNLUOSldMplVpAFDEPfWeNc1BK9GQaSU1WI1kdg0K-tS0zPOqyWW4NCo068yqWe9GY3VwN2sDtow1JtQxEJuL0YW7u3IZmQ64UkUsYDl8JR2=w1600-h914-no?authuser=0"
            alt="seventh slide" id="lastclone">
        <img src="https://lh3.googleusercontent.com/pw/AM-JKLWay46ZhpGoPFhepSLUEXgLHyZw6ENp_gDBXVI6cuc_29huc5evJJ4vQg_1wK1fwkJx0YUwrayPPCP9S0vPMHz9v_n1Ho334KwiD8lGDnb9skSu6GmHkEefH2Y1vBg453emIWj-rKytt8qMAum-v6Pf=w1600-h914-no?authuser=0"
            alt="first slide">
        <img src="https://lh3.googleusercontent.com/pw/AM-JKLWRYVdqLZ-o4Rd1nxLx8MeAkTdr6gakxBQTpGZNv8biwpvUfKBQGpe_8F70_EG7ZTY1wSgiB4v-JtuoOeDeoVKEc-bRTZj5J9ndmrqhsGanEJv0XJ-3-c1OXYJVPs96noScDdjtZ0_Z29BdWZvhVbOB=w1600-h914-no?authuser=0"
            alt="second slide">
        <img src="https://lh3.googleusercontent.com/pw/AM-JKLWoGIA-ASmRUNSCaBmvH5C6nSZ233RwbMtwdsYDEas25A3Xaqs9Z4deSolZ1ZELFOIrlLcvJ9xSCWP7SXbQQeVVMi2oJbz6oI0wsXrbDCWIf-RYynaeYaUwIUO6SWOBnDbf5HQZPwYK3HGsyecZ1vrf=w1600-h914-no?authuser=0"
            alt="third slide">
        <img src="https://lh3.googleusercontent.com/pw/AM-JKLUbjzHLJTI070HDTnc_Nh5BR55yFfgqbKRTqESHinF6epKVgCzIO9owQ2lejMg0Ym9MW1UbRpeo-uWCkX_kDxbTcIBczEfV9NggAGU6LdkYFIoXw1bBJUC6p2OfOj5VU8C0oaNmyzkp7JvK938i-Xmi=w1600-h914-no?authuser=0"
            alt="fourth slide">
        <img src="https://lh3.googleusercontent.com/pw/AM-JKLWJ6eQd3kX56QMgiVHGLjb4srrgIp_sv9Lcp7VT89mYEtyDyYdC5qxg1Unelhmpscgrc890wmrn-ZI5g5AygkdT-szbG7v7duPOJU2c46G_tJGN8v8fSarVdnow8HUbLPNfeFdCxPAIuLrztldJVOjN=w1600-h914-no?authuser=0"
            alt="fifth slide">
        <img src="https://lh3.googleusercontent.com/pw/AM-JKLVBN_Rh2DDm16drfDbY3b3YgZy1CrYYSR1Xo0Qh1sSIOlN5HrCSiJycKvSJtRT3LiICgYLUpomawv8JJhBx-xcZUodj02cdWOc98d21e0nfQKfmA5Ujbm8YFzkO6taEWcrP9w_iAP_FsRwr5yVBv16x=w1600-h914-no?authuser=0"
            alt="sixth slide">
        <img src="https://lh3.googleusercontent.com/pw/AM-JKLWLb9XIX-v90NQp9gXBvdPRyVCIQ_fIJw2_HIH7RkAXZNLUOSldMplVpAFDEPfWeNc1BK9GQaSU1WI1kdg0K-tS0zPOqyWW4NCo068yqWe9GY3VwN2sDtow1JtQxEJuL0YW7u3IZmQ64UkUsYDl8JR2=w1600-h914-no?authuser=0"
            alt="seventh slide">
        <img src="https://lh3.googleusercontent.com/pw/AM-JKLWay46ZhpGoPFhepSLUEXgLHyZw6ENp_gDBXVI6cuc_29huc5evJJ4vQg_1wK1fwkJx0YUwrayPPCP9S0vPMHz9v_n1Ho334KwiD8lGDnb9skSu6GmHkEefH2Y1vBg453emIWj-rKytt8qMAum-v6Pf=w1600-h914-no?authuser=0"
            alt="first slide" id="firstclone">
    </div>
    <!-- <a class="carousel-control-prev" id="prev"><i class="fas fa-angle-left"></i></a>
    <a class="carousel-control-next" id="next"><i class="fas fa-angle-right"></i></a> -->

</div>

<br><br>
<div>
    <div class="vishuddha_oils_are_quality_flex">
        <img src="/images/w1.png" alt="quality 1 image">
        <img src="/images/w2.png" alt="quality 2 image">
        <img src="/images/w3.png" alt="quality 3 image">
        <img src="/images/w4.png" alt="quality 4 image">
        <img src="/images/w5.png" alt="quality 5 image">
        <img src="/images/w6.png" alt="quality 6 image">
    </div>
</div>
<br><br><br>

<h1 class="exp_l">Experience The Luxury</h1>
<div class="shopnow_div">
    <a href="/products" class="shopnow">Shop Now</a>
</div>


<script>
    const carouselslide = document.querySelector(".carousel-slide");
    const carouselimages = document.querySelectorAll(".carousel-slide img");
    const prevbtn = document.getElementById("prev");
    const nextbtn = document.getElementById("next");

    let counter = 1
    const size = carouselimages[0].clientWidth;

    carouselslide.style.transform = "translateX(" + (-size * counter) + "px)";
    setInterval(function () {
        if (counter >= carouselimages.length - 1) return;
        carouselslide.style.transition = "transform 1s ease-in-out";
        counter++;
        carouselslide.style.transform = "translateX(" + (-size * counter) + "px)";

        carouselslide.addEventListener("transitionend", () => {
            if (carouselimages[counter].id === "lastclone") {
                carouselslide.style.transition = "none"
                counter = carouselimages.length - 2;
                carouselslide.style.transform = "translateX(" + (-size * counter) + "px)";
            }
            if (carouselimages[counter].id === "firstclone") {
                carouselslide.style.transition = "none"
                counter = carouselimages.length - counter;
                carouselslide.style.transform = "translateX(" + (-size * counter) + "px)";
            }
        });
    }, 4000);

    // nextbtn.addEventListener("click", () => {
    //     if (counter >= carouselimages.length - 1) return;
    //     carouselslide.style.transition = "transform 1s ease-in-out";
    //     counter++;
    //     carouselslide.style.transform = "translateX(" + (-size * counter) + "px)";
    // })

    // prevbtn.addEventListener("click", () => {
    //     if (counter <= 0) return;
    //     carouselslide.style.transition = "transform 1s ease-in-out";
    //     counter--;
    //     carouselslide.style.transform = "translateX(" + (-size * counter) + "px)";
    // })

    // carouselslide.addEventListener("transitionend", () => {
    //     if (carouselimages[counter].id === "lastclone") {
    //         carouselslide.style.transition = "none"
    //         counter = carouselimages.length - 2;
    //         carouselslide.style.transform = "translateX(" + (-size * counter) + "px)";
    //     }
    //     if (carouselimages[counter].id === "firstclone") {
    //         carouselslide.style.transition = "none"
    //         counter = carouselimages.length - counter;
    //         carouselslide.style.transform = "translateX(" + (-size * counter) + "px)";
    //     }
    // });
</script>



<div class="about_us">
    <h2 class="us">WHY TO CHOOSE VISHUDDHA</h2>
    <p class="us_data">We believe in making the products fresh as per your choice. We don't stock and pile up our
        products. Rather every product is handmade just for you.<br>It takes 4 days to make one bottle of Vishuddha Oil.
        These oils are a result of hard work, dedication, and extensive care.<br>Experience The Luxury!

    </p>
    <a class="findoutmore" href="/ourstory">FIND OUT MORE</a><i class="fas fa-caret-right findoutmore_arrow"></i>
</div>
<h2 class="productsontheway">PRODUCTS WE OFFER</h2>
<div class="oils_bottom_flex">
    <div class="obf1">
        <div class="obf_image1">
            <img src="https://lh3.googleusercontent.com/pw/AM-JKLWRYVdqLZ-o4Rd1nxLx8MeAkTdr6gakxBQTpGZNv8biwpvUfKBQGpe_8F70_EG7ZTY1wSgiB4v-JtuoOeDeoVKEc-bRTZj5J9ndmrqhsGanEJv0XJ-3-c1OXYJVPs96noScDdjtZ0_Z29BdWZvhVbOB=w1600-h914-no?authuser=0"
                alt="Almond oil image">
        </div>
        <div class="obf-content1">
            <h2>Luxury
                Almond Oil</h2>
            <p>
                Luxury Cold Pressed Almond oil<br>
                Almond oil help in nourishing the scalps and strengthening roots of hair. Vishuddha Almond Oil is made
                from best quality sweet almond. We use traditional wood pressed method to extract oil. Wood Pressed
                method helps in retaining the properties and nutrition to give your hair the best results. </p>
        </div>
    </div>
    <div class="obf2">
        <div class="obf_image2">
            <img src="https://lh3.googleusercontent.com/pw/AM-JKLWoGIA-ASmRUNSCaBmvH5C6nSZ233RwbMtwdsYDEas25A3Xaqs9Z4deSolZ1ZELFOIrlLcvJ9xSCWP7SXbQQeVVMi2oJbz6oI0wsXrbDCWIf-RYynaeYaUwIUO6SWOBnDbf5HQZPwYK3HGsyecZ1vrf=w1600-h914-no?authuser=0"
                alt="Coconut oil image">
        </div>
        <div class="obf-content2">
            <h2>Luxury
                Coconut Oil</h2>
            <p>
                Luxury Cold Pressed Coconut Oil<br>
                Coconut oil help in tackling dandruff and condition the hair. Coconut oil can also be used as
                conditioner & moisturiser. Vishuddha Coconut Oil is made from best quality coconuts. We use traditional
                wood pressed method to extract oil. It helps in retaining the properties and nutrition to give your hair
                the best results.</p>
        </div>
    </div>
</div>

<div class="gov_flex">
    <img class="gov_img" src="/images/gov.png" alt="gov.png">
    <img class="gov_img" src="/images/startup.png" alt="startup.png">
    <img class="gov_img" src="/images/msme.png" alt="msme.png">
</div>

<div>
    <form action="/submit" method="POST" id="mail-list" class="mail-list">
        <h3 class="joinmaillist">JOIN OUR MAILING LIST</h3>
        <input class="mailinput1" type="email" name="mail" placeholder="Email" required>
        <button type="submit" id="a_launch_product_1" class="a_launch_product_1">SIGN UP</button>
    </form>
    <div id="mail-list-2" style="height:150px;width:100%;opacity: 0;position: absolute;bottom: 0;">
        <h3
            style="text-align: center; font-size: 2.734375vw;   font-family: Lato, arial, sans-serif;font-weight: 100;margin-top: 0;">
            Thank you for Subscribing</h3>

    </div>
</div>


<script>
    document.getElementById("home").style.borderBottom = "0.13020833333333334vw solid rgb(212, 180, 53)";
    document.getElementById("home").style.paddingBottom = "0.3255208333333333vw";
    // document.getElementById("home").style.boxShadow = "0px 5px 5px #e8e8e8";
</script>

<%- include('head-foot/footer'); -%>