<%- include('head-foot/header'); -%>

<div class="img-launching">
    <div class="launching">
        <p class="p_welcome">WELCOME</p>
        <h1 class="h1_flat_discount">Flat 10% Off</h1>
        <a href="/products" class="a_launch_product">LAUNCHING SOON</a>
    </div>
</div>
<div class="about_us">
    <h2 class="us">WHY TO CHOOSE VISHUDDHA</h2>
    <p class="us_data">It takes 4 days to make one bottle of Vishuddha oil. These oils are a result of hard work,
        dedication and extensive care. Every product is handmade keeping you in mind. That's Luxury!

        We don't stock and pile up our products. We believe in making the products fresh as per your choice. </p>
    <a class="findoutmore" href="/ourstory">FIND OUT MORE</a><i class="fas fa-caret-right findoutmore_arrow"></i>
</div>
<h1 class="productsontheway">PRODUCTS ON THE WAY</h1>
<div class="oils_bottom_flex">
    <div class="obf1">
        <div class="obf_image1"></div>
        <div class="obf-content1">
            <h3>Luxury
                Almond Oil</h3>
            <p>
                Cold Pressed Almond oil<br>
                Almond oil help in nourishing the scalps and strengthening roots of hair. Vishuddha Almond Oil is made
                from best quality sweet almond. We use traditional wood pressed method to extract oil. Wood Pressed
                method helps in retaining the properties and nutrition to give your hair the best results. </p>
        </div>
    </div>
    <div class="obf2">
        <div class="obf_image2"></div>
        <div class="obf-content2">
            <h3>Luxury
                Coconut Oil</h3>
            <p>
                Cold Pressed Coconut Oil<br>
                Coconut oil help in tackling dandruff and condition the hair. Coconut oil can also be used as
                conditioner & moisturiser. Vishuddha Coconut Oil is made from best quality coconuts. We use traditional
                wood pressed method to extract oil. It helps in retaining the properties and nutrition to give your hair
                the best results.</p>
        </div>
    </div>
</div>
<div>
    <form action="/submit" method="POST" id="mail-list" class="mail-list">
        <h3 class="joinmaillist">JOIN OUR MAILING LIST</h3>
        <input style="    margin-top: 1.8625vw;" class="mailinput" type="email" name="mail" type="text" placeholder="Email" required>
        <button type="submit" id="a_launch_product_1" class="a_launch_product_1">SIGN UP</button>
    </form>
    <div id="mail-list-2" style="height:150px;width:100%;opacity: 0;">
        <h3
            style="text-align: center; font-size: 2.734375vw;   font-family: Lato, arial, sans-serif;font-weight: 100;margin-top: 0;">
            Thank you for Subscribing</h3>

    </div>
</div>



<script>
    document.getElementById("home").style.borderBottom = "2px solid rgb(212, 180, 53)";
    document.getElementById("home").style.paddingBottom = "5px";
    // document.getElementById("home").style.boxShadow = "0px 5px 5px #e8e8e8";
</script>

<%- include('head-foot/footer'); -%>