<%- include('head-foot/header'); -%>

<div class="img-launching">
    <div class="launching">
        <p class="p_welcome">WELCOME</p>
        <h1 class="h1_flat_discount">Flat 10% Off</h1>
        <a href="" class="a_launch_product">LAUNCHING SOON</a>
    </div>
</div>
<div class="about_us">
    <h2 class="us">WHO WE ARE</h2>
    <p class="us_data">Vishuddha is a Luxury Lifestyle brand working towards bringing a healthy change in people's life.
        Luxury
        doesn't always mean to have an expensive car of a fancy mobile, it also means to use pure products and a
        healthy lifestyle. We believe that healthy lifestyle is a habit and everyone should have it.</p>
    <a class="findoutmore" href="/ourstory">FIND OUT MORE</a><i class="fas fa-caret-right findoutmore_arrow"></i>
</div>





<script>
    document.getElementById("home").style.borderBottom = "2px solid rgb(212, 180, 53)";
    document.getElementById("home").style.paddingBottom = "5px";
    document.getElementById("home").style.boxShadow="0px 5px 5px #e8e8e8";
</script>

<%- include('head-foot/footer'); -%>