<%- include('head-foot/header'); -%>

<div class="img-launching">
    <div class="launching">
        <p class="p_welcome">WELCOME</p>
        <h1 class="h1_flat_discount">Flat 10% Off</h1>
        <a href="" class="a_launch_product">LAUNCHING SOON</a>
    </div>
</div>
<div class="about_us">
    <h2 class="us">WHO WE ARE</h2>
    <p class="us_data">Vishuddha is a Luxury Lifestyle brand working towards bringing a healthy change in people's life. Luxury
        doesn't always mean to have an expensive car of a fancy mobile, it also means to use pure products and a
        healthy lifestyle. We believe that healthy lifestyle is a habit and everyone should have it.</p>
    <a class="findoutmore" href="">FIND OUT MORE</a><i class="fas fa-caret-right findoutmore_arrow"></i>
</div>

<%- include('head-foot/footer'); -%>