<%- include('head-foot/header'); -%>
<h1 style="text-align: center; font-size: 2.734375vw;   font-family: Lato, arial, sans-serif;font-weight: 100;margin-top: 80px;
"><%=message%></h1>




<script>
    setTimeout(function() {
            window.location='/login'
        }, 1500);
</script>
<%- include('head-foot/footer'); -%>