<%- include('head-foot/header'); -%>
<h1 class="prompt_msg"><%=message%></h1>




<script>
    setTimeout(function() {
            window.location='/orders'
        }, 1500);
</script>
<%- include('head-foot/footer'); -%>