<%- include('head-foot/header'); -%>

<div class="note_flex">
    <h4 class="note_head">ABOUT US</h4>
    <p class="note_p">Vishuddha means purest of the pure. We understand your need to use the best quality products
        without any chemical or preservatives and we bring the same at your doorstep. Our products are made with
        hand-picked oil seeds. <br><br>



        It takes 4 days to make one bottle of Vishuddha oil. These oils are a result of hard work, dedication and
        extensive care. Every product is handmade keeping you in mind. That's Luxury!<br><br>



        The overall packaging is designed to provide you the best experience keeping in mind the sustainability of
        environment. Our motto is simple - Reduce, Reuse & Recycle. This is our responsibility towards the environment
        and future generations.<br><br>



        We don't stock and pile up our products. <br><br>



        Vishuddha represents the pinnacle of Traditional Indian Luxury.

    </p>

    <h4 class="note_head">THE JOURNEY</h4>
    <p class="note_p">
        The lockdown of 2020 provided me an opportunity to look deep into the products that are part of our lifestyle.
        It was an eye-opener to find that most of the products in the market are adulterated or worse - fake. The brands
        have lost the touch of personalization and quality of the product. The fast moving lifestyle has deprived us of
        the experience that comes along with a product. We merely use the products without feeling them.
        <br><br>

        Manufactures use preservatives and chemicals, making the products a waste and even dangerous. Vishuddha was born
        with a motive to spread awareness and provide the best product with experience.
        <br><br>


        I am on a journey to design lifestyle and put Indian Luxury Lifestyle Brand on the Globe.
        <br><br>


        Prateek,
        <br>
        Founder

    </p>
    <h4 class="note_head">ABOUT THE TECHNIQUE</h4>
    <p class="note_p">The oils are produced using traditional wood pressed method. The seeds are simply crushed in the
        wooden axis to extract the oil and there is no heat involved in the process. This preserves the nutrients, aroma
        and taste of the oil.</p>
    <h4 class="note_head">NOTHING FANCY, JUST PURE OILS!</h4>
    <p class="note_p"></p>

</div><br><br><br><br><br>










<script>
    document.getElementById("ourstory").style.borderBottom = "0.13020833333333334vw solid rgb(0, 0, 0)";
    document.getElementById("ourstory").style.paddingBottom = "0.3255208333333333vw";

    // document.getElementById("ourstory").style.boxShadow="0px 5px 5px #e8e8e8";
</script>
<%- include('head-foot/footer'); -%>