<%- include('head-foot/header'); -%>

<div class="main_box">
    <h1 class="ourstory_head">OUR STORY</h1>
    <div class="flexboxes">
        <div class="flexbox_1"></div>
        <div class="flexbox_2"></div>
        <div class="flexbox_3">
            <h4 class="journey" style="text-transform: uppercase;">The Journey</h4>
            <p class="journey_words">I am a foodie and the lockdown of 2020 provided me an ample time to improve my
                cooking skills. During my
                journey from a foodie to self sufficient cook, I realised that our market is full of adulterated edible
                oils. It was an eye opener for me to see that most of the products, be it cosmetics or food items, are
                adulterated in some or the other way.<br>
                <br>



                Manufactures use preservatives and chemicals, making the products a waste and sometimes dangerous also.
                I realised that our people must be aware of the fact that what they see in the name of purity is
                actually fake. Hence, Vishuddha was born with a motive to spread awareness and to provide the best and
                pure quality of products.

                <br>
                <br>


                Apart from our products we offer lifestyle changing tips and wide range of content on our social media
                handles.<br>

                I am on journey of designing lifestyle and I want you to be a part of it. Come, let's create a healthier
                tomorrow, together.
                <br>
                <br>


                Prateek
                <br>
                Founder

            </p>
            <h4 class="about_vs">ABOUT VISHUDDHA</h4>
            <p class="about_vs_words">Due to globalisation and fast moving life we have made ourselves dependent on
                chemical based products. We hesitate to pay the price for the right product and comfortably settle down
                for a cheaper alternative without even looking at the composition or ingredients or any kind of
                difference between the two products. We ignore the fact that adulterated products are cheap because they
                are made of cheap material and chemicals.<br>
                <br>



                Vishuddha means purest of the pure and Vishuddha understands your needs and that is why we bring only
                pure products for you. Our products are made with only pure ingredients, without any chemical or any
                other preservatives.
                <br>
                <br>
                We took inspiration from our ancient culture and civilizations and use traditional methods to make our
                products like wood pressed method for oil making. We use similar methods to make all of our products
                which are proven to retain the nutrients and improve your health.
                <br>
                <br>



                We read in history books that in earlier days people use to live for long ages. It was because our
                ancestors had a healthy lifestyle. Apart from eating natural & healthy food, their lifestyle included
                regular exercise, yoga, meditation. Vishuddha is working in the direction of reviving the lost art of
                healthy living. We aim to make our people live a healthy lifestyle.</p>
        </div>
    </div>

</div>






<%- include('head-foot/footer'); -%>





<script>
    document.getElementById("ourstory").style.borderBottom = "2px solid rgb(212, 180, 53)";
    document.getElementById("ourstory").style.paddingBottom = "5px";
    
    // document.getElementById("ourstory").style.boxShadow="0px 5px 5px #e8e8e8";
</script>