<%- include('head-foot/header'); -%>
<div class="main_box_2">
    <form action="/register" method="POST">
        <p class="namefield_all" style="margin-bottom: 0;">First Name -</p>
        <input class="mailinput" type="text" name="fname" placeholder="Enter First name" required><br>
        <p class="namefield_all" style="margin-bottom: 0;">Last Name -</p>
        <input class="mailinput" type="text" name="lname" placeholder="Enter last name" required><br>

        <p class="namefield_all" style="margin-bottom: 0;">Email -</p>
        <input class="mailinput" type="text" name="username" placeholder="Enter email" required><br>
        <p class="namefield_all" style="margin-bottom: 0;">Password-</p>
        <input class="mailinput" type="text" name="password" placeholder="Enter password" required><br>
        <button class="btn-register-login" type="submit">Register</button>
        <a class="login_with_google" href="/auth/google"><i class="fab fa-google-plus-g"></i> Login</a>
    </form> <br><br><br>
    

</div>

<%- include('head-foot/footer'); -%>