<%- include('head-foot/header'); -%>
<div class="main_box_2">
    <form action="/register" method="POST">
        <p class="namefield_all" style="margin-bottom: 0;">First Name -</p><br>
        <input class="mailinput" type="text" name="fname" placeholder="Enter First name" required><br>
        <p class="namefield_all" style="margin-bottom: 0;">Last Name -</p><br>
        <input class="mailinput" type="text" name="lname" placeholder="Enter last name" required><br>

        <p class="namefield_all" style="margin-bottom: 0;">Email -</p><br>
        <input class="mailinput" type="email" name="username" placeholder="Enter email" required><br>
        <p class="namefield_all" style="margin-bottom: 0;">Password-</p><br>
        <input class="mailinput" type="password" name="password" id = "myInput" placeholder="Enter password" required><br>
   <br>
   
   <span class="show_pass"><input class="checkbox" type="checkbox" onclick="myFunction()"> Show Password</span>
        <br>
<br>
        <button class="btn-register-login" type="submit">Register</button>
        <a class="login_with_google" href="/auth/google"><i class="fab fa-google-plus-g"></i> Login</a>
        <br>
        <br>
        <br>
        <!-- <a class="" href="/forgot" style="font-size: 18px;text-decoration: none;color:#716021;font-family: Lato, arial, sans-serif;">Forgotten password?</a> -->

    </form> <br><br><br>
    

</div>

<script>
    function myFunction() {
  var x = document.getElementById("myInput");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
</script>

<%- include('head-foot/footer'); -%>