body {
    margin: 0
}

.banner {
    height: 1.3541666666666667vw;
    text-align: center;
    font-size: .9114583333333334vw;
    margin: 0;
    padding: .2604166666666667vw 0;
    background-color: #d4b435;
    font-family: Lato, arial, sans-serif;
    font-weight: 400
}

.banner-p {
    margin: 0;
    color: #161616;
    letter-spacing: .13020833333333334vw;
    padding-top: .09765625vw
}

.header-block {
    background-color: #fff;
    height: inherit;
    width: 100%
}

.header-block-container {
    margin: auto;
    padding: 2.0833333333333335vw 1.5625vw;
    background-color: #fff;
    position: relative
}

.ul-continer {
    list-style: none
}

.li-div {
    display: flex;
    padding: 1.3020833333333333vw 20.833333333333332vw
}

.li-container {
    font-family: Lato, arial, sans-serif;
    text-decoration: none;
    margin: 0 1.0416666666666667vw;
    padding: .1953125vw;
    font-size: .9114583333333334vw;
    letter-spacing: .11393229166666667vw;
    color: #575757
}

.search-cart-user {
    position: absolute;
    right: 8.697916666666666vw;
    top: 4.361979166666667vw
}

.vs-header-icons {
    color: rgb(185 157 48);
    padding: .6510416666666666vw;
    font-size: .9114583333333334vw;
    transition: all .5s
}

.vs-header-icons:hover {
    color: rgb(113 96 33)
}

.footer {
    padding-top: 2.6041666666666665vw;
    padding-bottom: 2.6041666666666665vw
}

.toc-pp {
    text-align: center;
    font-family: Lato, arial, sans-serif;
    padding-bottom: 2.604166666666667vw
}

.toc {
    color: #8a7522;
    text-decoration: none;
    padding: 0 .32552083333333337vw;
    letter-spacing: .06510416666666667vw
}

.pp {
    color: #8a7522;
    text-decoration: none;
    padding: 0 .32552083333333337vw;
    letter-spacing: .06510416666666667vw
}

.share-logo {
    padding-bottom: 1.0416666666666667vw
}

.share-logo-p {
    text-align: center;
    font-size: 1.3020833333333335vw;
    margin: 0
}

.icons {
    padding: .6510416666666667vw
}

.website {
    font-size: .9114583333333334vw;
    letter-spacing: .083em;
    color: #1b1b1b;
    font-family: Lato, arial, sans-serif;
    font-weight: 700;
    text-align: center
}

.place {
    font-size: .9114583333333334vw;
    letter-spacing: .083em;
    color: #1b1b1b;
    padding: .6510416666666667vw;
    font-family: Lato, arial, sans-serif;
    text-align: center
}

.phone-number {
    font-size: .9114583333333334vw;
    letter-spacing: .083em;
    font-family: Lato, arial, sans-serif;
    text-align: center;
    padding-bottom: 1.5625vw
}

.flex {
    display: flex;
    justify-content: flex-start
}

.copyright {
    margin: 0 12.994791666666666vw;
    padding: 0 1.5625vw;
    letter-spacing: .06510416666666667vw;
    font-family: Lato, arial, sans-serif;
    color: #595959;
    font-size: .9114583333333334vw
}

.trademark {
    margin: 0 12.994791666666666vw;
    padding: 0 1.5625vw;
    letter-spacing: .06510416666666667vw;
    font-family: Lato, arial, sans-serif;
    color: #595959;
    font-size: .9114583333333334vw
}

.connect {
    margin: 0 12.994791666666666vw;
    padding: 0 1.5625vw;
    letter-spacing: .06510416666666667vw;
    color: #595959;
    font-size: .9114583333333334vw;
    font-family: Lato, arial, sans-serif
}

.head_divider {
    background-color: #b49b35;
    height: .06510416666666667vw;
    opacity: 30%;
    display: flex;
    width: 80.20833333333333vw;
    margin: 0 auto
}

.user_dropdown {
    width: 16.276041666666668vw;
    height: auto;
    background-color: #fff;
    position: absolute;
    right: 9.114583333333334vw;
    top: 7.8125vw;
    z-index: 2;
    box-shadow: rgb(187 187 187) 0 0 .5208333333333334vw 0;
    opacity: 0;
    transition: all .25s
}

.user_d_box {
    width: 100%
}

.user_d_box_content {
    text-align: left;
    font-size: 1.0416666666666667vw;
    font-family: Lato, arial, sans-serif;
    color: #a98f28;
    margin: 1.3020833333333335vw 1.9531250000000002vw;
    text-decoration: none
}

.tnm {
    font-size: 1.0416666666666667vw;
    font-family: Lato, arial, sans-serif;
    color: #8a7522;
    letter-spacing: .13020833333333334vw;
    font-weight: 400
}

.tnm_box {
    width: 70%;
    margin: 0 auto
}

.tnm_headings {
    font-family: Lato, arial, sans-serif;
    font-weight: 700;
    color: #8a7522
}

.tnm_content {
    color: #5e5e5e;
    font-size: 1.0416666666666667vw;
    font-family: Lato, arial, sans-serif;
    letter-spacing: .032552083333333336vw
}

.img-launching {
    width: 80.20833333333333vw;
    height: 32.552083333333336vw;
    display: block;
    margin: 0 auto;
    background-image: url(/images/img2.png);
    background-position: center;
    background-repeat: repeat;
    background-size: 100%;
    position: relative
}

.launching {
    float: right;
    height: 100%;
    width: 34%;
    background-color: rgba(254, 243, 217, .8)
}

.p_welcome {
    text-align: center;
    letter-spacing: .13020833333333334vw;
    font-size: 1.0416666666666667vw;
    font-family: Lato, arial, sans-serif;
    color: #85701c;
    margin-top: 9.765625vw
}

.h1_flat_discount {
    text-align: center;
    text-transform: uppercase;
    font-size: 2.799479166666667vw !important;
    font-family: Cabin, arial, sans-serif;
    color: #151515;
    margin-bottom: 3.2552083333333335vw
}

.a_launch_product {
    position: relative;
    margin: auto;
    letter-spacing: .13020833333333334vw;
    font-size: 1.0416666666666667vw;
    font-weight: 400;
    font-family: Lato, arial, sans-serif;
    color: #85701c;
    margin-top: 9.765625vw;
    text-decoration: none;
    border-style: solid;
    border-width: .06510416666666667vw;
    padding: .9765625vw;
    margin: 6.966145833333333vw;
    transition: all .5s
}

.a_launch_product:hover {
    background-color: rgb(207 175 50);
    color: #151515;
    border-color: rgb(207 175 50)
}

.about_us {
    width: 80.20833333333333vw;
    height: auto;
    display: block;
    margin: 13.020833333333334vw auto;
    position: relative
}

.us {
    color: #ad9226;
    font-family: Cabin, arial, sans-serif;
    font-size: 2.799479166666667vw
}

.us_data {
    font-family: Lato, arial, sans-serif;
    font-size: 1.4322916666666667vw;
    color: #5e5e5e;
    margin-bottom: 6.510416666666667vw;
    margin-right: 34.505208333333336vw
}

.findoutmore {
    text-decoration: none;
    font-family: Lato, arial, sans-serif;
    font-size: 1.0416666666666667vw;
    border-style: solid;
    border-width: 0 0 .06510416666666667vw 0;
    font-weight: 700;
    padding: 0 0 .32552083333333337vw 0;
    color: rgb(152 129 39);
    letter-spacing: .13020833333333334vw;
    transition: all .5s
}

.findoutmore:hover {
    letter-spacing: .2604166666666667vw
}

.findoutmore_arrow {
    font-size: 1.0416666666666667vw;
    padding: 0 0 .32552083333333337vw .6510416666666667vw;
    color: rgb(152 129 39)
}

.productsontheway {
    font-size: 2.799479166666667vw;
    font-family: Cabin, arial, sans-serif;
    letter-spacing: .06510416666666667vw;
    color: #ad9226;
    margin-left: 9.348958333333334vw
}

.oils_bottom_flex {
    display: flex;
    flex-direction: row;
    width: 80.20833333333333vw;
    margin: 0 auto
}

.obf1 {
    width: 48%;
    margin: 0 auto 0 0
}

.obf2 {
    width: 48%;
    margin: 0 0 0 auto
}

.obf_image1 {
    background-image: url(/images/img3.png);
    background-position-x: center;
    background-position-y: -9.114583333333334vw;
    background-size: 200%;
    height: 39.0625vw;
    background-repeat: no-repeat
}

.obf_image2 {
    background-image: url(/images/img4.png);
    background-position-x: center;
    background-size: 230%;
    height: 39.0625vw;
    background-repeat: no-repeat
}

.obf-content2 {
    background-color: #fef3d9;
    margin: 0;
    height: 19.53125vw
}

.obf-content2 p {
    font-size: 1.3020833333333335vw;
    font-family: Lato, arial, sans-serif;
    text-align: center;
    color: #5e5e5e;
    padding: 0 2.9296875vw
}

.obf-content2 h3 {
    font-size: 1.4322916666666667vw;
    text-align: center;
    font-family: Lato, arial, sans-serif;
    font-weight: 400;
    padding-top: 1.9531250000000002vw;
    margin-top: 0;
    color: #1b1b1b
}

.obf-content1 {
    background-color: #fef3d9;
    margin: 0;
    height: 19.53125vw
}

.obf-content1 p {
    font-size: 1.3020833333333335vw;
    font-family: Lato, arial, sans-serif;
    text-align: center;
    color: #5e5e5e;
    padding: 0 2.9296875vw
}

.obf-content1 h3 {
    font-size: 1.4322916666666667vw;
    text-align: center;
    font-family: Lato, arial, sans-serif;
    font-weight: 400;
    padding-top: 1.9531250000000002vw;
    margin-top: 0;
    color: #1b1b1b
}

.mail-list {
    width: 80.20833333333333vw;
    margin: 6.510416666666667vw auto 3.2552083333333335vw;
    display: flex;
    height: 6.510416666666667vw
}

.joinmaillist {
    color: #1b1b1b;
    font-size: 2.0833333333333335vw;
    font-family: Cabin, arial, sans-serif;
    letter-spacing: .06510416666666667vw;
    width: 70%
}

.mailinput {
    width: 100%;
    font-size: 1.0416666666666667vw;
    margin-top: 0.6625vw;
    padding: 0 .9765625000000001vw;
    font-family: Lato, arial, sans-serif;
    color: #5e5e5e;
    height: 3.0552083333333335vw;
    border-style: solid;
    border-width: 0 0 .06510416666666667vw 0
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    opacity: 0.5;
}

::-moz-placeholder {
    /* Firefox 19+ */
    opacity: 0.5;
}

:-ms-input-placeholder {
    /* IE 10+ */
    opacity: 0.5;
}

:-moz-placeholder {
    /* Firefox 18- */
    opacity: 0.5;
}

.a_launch_product_1 {
    position: relative;
    letter-spacing: .13020833333333334vw;
    font-size: 1.0416666666666667vw;
    font-weight: 400;
    font-family: Lato, arial, sans-serif;
    color: #85701c;
    margin-top: 9.765625vw;
    text-decoration: none;
    border-style: solid;
    border-width: .06510416666666667vw;
    padding: .9765625vw;
    margin: 6.966145833333333vw;
    transition: all .5s;
    background-color: #fff;
    width: 20%;
    height: 3.580729166666667vw;
    margin: 1.4322916666666667vw 0 0 2.604166666666667vw
}

.a_launch_product_1:hover {
    background-color: rgb(207 175 50);
    color: #151515;
    border-color: rgb(207 175 50)
}

.main_box {
    width: 80.20833333333333vw;
    margin: 0 auto;
    padding-top: 4.557291666666667vw
}

.ourstory_head {
    font-size: 2.799479166666667vw;
    font-family: Cabin, arial, sans-serif;
    font-weight: 700;
    color: #ad9226;
    letter-spacing: .06510416666666667vw;
    margin: 0
}

.flexboxes {
    display: flex;
    width: 80.20833333333333vw;
    margin: 0 auto;
    padding-top: 4.557291666666667vw;
    height: inherit
}

.flexbox_1 {
    display: flex;
    width: 35%;
    background-image: url(https://img1.wsimg.com/isteam/ip/3347e55c-bce2-49cf-babe-4e156ce94552/HighRse.png/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:400,cg:true);
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 0;
    background-size: 100%
}

.flexbox_2 {
    display: flex;
    width: 5%
}

.flexbox_3 {
    display: flex;
    width: 60%;
    flex-direction: column;
    position: relative
}

.journey {
    font-size: 2.0833333333333335vw;
    font-family: Cabin, arial, sans-serif;
    font-weight: 700;
    letter-spacing: .06510416666666667vw;
    color: #ad9226;
    margin: 0
}

.journey_words {
    font-size: 1.3020833333333335vw;
    font-weight: 400;
    font-family: Lato, arial, sans-serif;
    color: #5e5e5e
}

.about_vs {
    font-size: 2.0833333333333335vw;
    font-family: Cabin, arial, sans-serif;
    font-weight: 700;
    letter-spacing: .06510416666666667vw;
    color: #ad9226;
    margin: 0;
    padding-top: 4.557291666666667vw
}

.about_vs_words {
    font-size: 1.3020833333333335vw;
    font-weight: 400;
    font-family: Lato, arial, sans-serif;
    color: #5e5e5e
}

.add_to_cart {
    position: absolute;
    bottom: 5%;
    right: 1.623567708333333vw;
    margin: auto;
    letter-spacing: .13020833333333334vw;
    font-size: 2.553125vw;
    font-weight: 400;
    font-family: Lato, arial, sans-serif;
    color: rgb(133 112 28);
    text-decoration: none;
    padding: 1.953125vw 3vw;
    transition: all .25s
}

.add_to_cart:hover {
    color: rgb(158 133 35);
    transform: scale(1.5)
}

.blogimg_products {
    width: 29.296875vw;
    height: 70%;
    margin: 0 5%;
    margin-top: 5%;
    object-fit: cover
}

.price_products {
    font-family: Lato, arial, sans-serif;
    color: #8a7522;
    font-size: 1.0416666666666667vw;
    margin-left: 1.623567708333333vw
}

.price_products_font {
    font-family: Lato, arial, sans-serif;
    color: #8a7522;
    font-size: 1.3020833333333333vw;
    margin: 0;
    margin-left: 1.623567708333333vw
}

.product_box_flex {
    display: flex;
    flex-direction: row;
    margin-top: 15vh;
    height: 32.552083333333336vw
}

#number_of_items {
    width: 10%;
    font-size: 1.0416666666666667vw;
    margin-top: 1.5625vw;
    padding: 0 .9765625000000001vw;
    font-family: Lato, arial, sans-serif;
    color: #5e5e5e;
    height: 3.2552083333333335vw;
    border-style: solid;
    border-width: 0 0 .06510416666666667vw 0
}

.btn-add-to-cart {
    bottom: 8%;
    position: absolute;
    letter-spacing: .13020833333333334vw;
    font-size: 1.0416666666666667vw;
    font-weight: 400;
    font-family: Lato, arial, sans-serif;
    color: #000;
    background-color: #d4b435;
    text-decoration: none;
    border-color: #d4b435;
    border-style: solid;
    border-width: .06510416666666667vw;
    margin-left: 0;
    padding: .9765625vw;
    transition: all .25s;
    cursor: pointer
}

.btn-add-to-cart:hover {
    box-shadow: rgb(0 0 0 / 30%) 0 0 0.9765625000000001vw 0;
    background-color: rgb(220 189 66);
    color: #151515;
    transform: scale(1.1);
    border-color: rgb(220 189 66)
}

.product_i_image {
    width: 100%
}

#total_price {
    font-family: Lato, arial, sans-serif;
    color: #8a7522;
    font-size: 1.3020833333333335vw
}

.product_i_img {
    height: 80%;
    padding: 10%;
    float: right
}

.product_i_details {
    position: relative;
    width: 100%;
    padding: 5% 0
}

.product_i_details_heading {
    font-size: 2.0833333333333335vw;
    font-family: Cabin, arial, sans-serif;
    color: #1b1b1b;
    margin-top: 0;
    letter-spacing: .06510416666666667vw
}

.product_i_details_price {
    font-family: Lato, arial, sans-serif;
    color: #8a7522;
    font-size: 1.6276041666666667vw
}

.product_i_details_discount {
    font-family: Lato, arial, sans-serif;
    font-size: .9765625000000001vw;
    opacity: .5;
    color: rgb(0 0 0)
}

.note_flex {
    display: flex;
    width: 45%;
    margin: 0 auto;
    flex-direction: column;
    text-align: center;
    position: relative
}

.note_head {
    font-size: 2.0833333333333335vw;
    font-family: Cabin, arial, sans-serif;
    font-weight: 700;
    letter-spacing: .06510416666666667vw;
    color: #ad9226;
    margin: 0;
    padding-top: 4.557291666666667vw
}

.note_p {
    font-size: 1.6276041666666667vw;
    font-family: Lato, arial, sans-serif;
    color: #5e5e5e;
    font-weight: 400;
    font-size: 1.3671875vw
}

.contact_flex {
    display: flex;
    text-align: center;
    flex-direction: column;
    margin: 0 auto;
    width: 50%
}

.contact_msg1 {
    font-size: 1.4322916666666667vw;
    font-family: Lato, arial, sans-serif;
    font-weight: 400;
    color: #1b1b1b;
    letter-spacing: .045em;
    padding-top: 3.2552083333333335vw
}

.contact_msg2 {
    font-size: 1.0416666666666667vw;
    font-family: Lato, arial, sans-serif;
    color: #5e5e5e
}

.whatsapp {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: .9114583333333334vw;
    margin: 0 auto;
    margin-top: 1.9531250000000002vw;
    text-decoration: none;
    padding: 1.3020833333333335vw;
    width: 13.020833333333334vw;
    font-weight: 700;
    color: #fff;
    background-color: #35bc48;
    border-radius: .32552083333333337vw
}

.whatsapp:hover {
    background-color: #309c3f
}

.main_box_blog_1 {
    width: 80.20833333333333vw;
    margin: 0 auto;
    height: 100%;
    padding-top: 15vh;
    padding-bottom: 10vh;
    display: flex;
    flex-direction: column
}

.blog_number {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 0 auto;
    height: 100vh;
    justify-content: space-between
}

.blog_left {
    height: 35.807291666666664vw;
    width: 45%;
    border-style: solid;
    border-width: .06510416666666667vw;
    border-color: rgb(217 217 217);
    transition: all .25s;
    position: relative
}

.blog_left:hover {
    box-shadow: rgb(187 187 187) 0 0 1.8229166666666667vw -.1953125vw
}

.blog_right {
    height: 35.807291666666664vw;
    width: 45%;
    border-style: solid;
    border-width: .06510416666666667vw;
    border-color: rgb(217 217 217);
    transition: all .25s;
    position: relative
}

.blog_right:hover {
    box-shadow: rgb(187 187 187) 0 0 1.8229166666666667vw -.1953125vw
}

.blog_center {
    height: 35.807291666666664vw;
    width: 45%;
    display: block;
    margin: 0 auto;
    border-style: solid;
    border-width: .06510416666666667vw;
    border-color: rgb(217 217 217);
    transition: all .25s;
    position: relative
}

.blog_center:hover {
    box-shadow: rgb(187 187 187) 0 0 1.8229166666666667vw -.1953125vw
}

.blogimg {
    width: 29.296875vw;
    height: 19.53125vw;
    margin: 0 5%;
    margin-top: 5%;
    object-fit: cover
}

.blogh1 {
    color: #1b1b1b;
    font-size: 1.4322916666666667vw;
    font-family: Lato, arial, sans-serif;
    letter-spacing: .045em;
    padding: 0 1.5625vw
}

.blogdate {
    padding: .6510416666666666vw 1.5625vw;
    color: #595959;
    font-size: .9114583333333334vw;
    font-family: Lato, arial, sans-serif
}

.findoutmore_1 {
    text-decoration: none;
    font-family: Lato, arial, sans-serif;
    font-size: 1.0416666666666667vw;
    border-style: solid;
    border-width: 0 0 .06510416666666667vw 0;
    font-weight: 700;
    margin: 0 0 0 1.5625vw;
    padding-bottom: .32552083333333337vw;
    color: rgb(152 129 39);
    letter-spacing: .13020833333333334vw;
    transition: all .5s
}

.findoutmore_1:hover {
    letter-spacing: .2604166666666667vw
}

.findoutmore_arrow {
    font-size: 1.0416666666666667vw;
    padding: 0 0 .3255208333333333vw .6510416666666666vw;
    color: rgb(152 129 39)
}

.x {
    width: 100%
}

.main_box_blog {
    width: 80.20833333333333vw;
    margin: 0 auto;
    height: 100%;
    padding-top: 5vh;
    padding-bottom: 10vh
}

.data_flex {
    padding-top: 10vh;
    margin: 0 auto;
    width: 55%
}

.currentpost_title {
    font-size: 2.0833333333333335vw;
    font-family: Cabin, arial, sans-serif;
    color: #1b1b1b;
    letter-spacing: .06510416666666667vw
}

.currentpost_date {
    font-size: .9114583333333334vw;
    font-family: Lato, arial, sans-serif;
    color: #595959
}

.currentpost_image {
    width: 100%
}

.currentpost_data {
    color: #5e5e5e;
    font-size: 1.0416666666666667vw;
    letter-spacing: .032552083333333336vw;
    font-family: Lato, arial, sans-serif;
    padding-top: 10vh
}

.main_box_2 {
    width: 32.552083333333336vw;
    margin: 0 auto;
    padding-top: 15vh;
    padding-bottom: 10vh
}

.namefield_all {
    font-size: 1.9531250000000002vw;
    font-family: Lato, arial, sans-serif;
    letter-spacing: .06510416666666667vw;
    font-weight: 100
}

.btn-register-login {
    letter-spacing: .13020833333333334vw;
    font-size: 1.0416666666666667vw;
    font-weight: 400;
    font-family: Lato, arial, sans-serif;
    color: #000;
    background-color: #d4b435;
    text-decoration: none;
    border-color: #d4b435;
    border-style: solid;
    border-width: .06510416666666667vw;
    margin-left: 0;
    margin-top: 3.2552083333333335vw;
    padding: .9765625vw;
    transition: all .25s
}

.btn-register-login:hover {
    box-shadow: rgb(187 187 187) 0 0 1.8229166666666667vw 0;
    background-color: rgb(220 189 66);
    color: #151515;
    border-color: rgb(220 189 66)
}

.login_with_google {
    letter-spacing: .13020833333333334vw;
    font-size: 1.0416666666666667vw;
    font-weight: 400;
    font-family: Lato, arial, sans-serif;
    color: #fff;
    background-color: #d54836;
    text-decoration: none;
    border-color: #d54836;
    border-style: solid;
    border-width: .06510416666666667vw;
    margin-left: 3.2552083333333335vw;
    margin-top: 6.510416666666667vw;
    padding: .9765625vw;
    transition: all .5s
}

.login_with_google:hover {
    box-shadow: rgb(187 187 187) 0 0 1.8229166666666667vw 0;
    background-color: #e65745;
    color: #fff;
    border-color: #e65745
}

.cart_box_head {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    height: 1.9531250000000002vw;
    border-style: solid;
    border-width: .1953125vw;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-color: #e4e4e4
}

.head_cart_margs {
    margin: 0 6.380208333333334vw;
    font-size: .9114583333333334vw;
    font-family: Lato, arial, sans-serif;
    color: #595959;
    letter-spacing: .06510416666666667vw
}

.cart_box {
    width: 80%;
    margin: 0 auto;
    height: 6.510416666666667vw;
    border-style: solid;
    border-width: .13020833333333334vw;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-color: #e4e4e4;
    display: flex;
    flex-direction: row
}

.cart_box_img {
    height: 5.208333333333334vw;
    margin: .6510416666666667vw
}

.cart_obj_name {
    margin: 2.604166666666667vw 0 0 0;
    color: #454545;
    font-family: Lato, arial, sans-serif;
    letter-spacing: .06510416666666667vw;
    font-weight: 800
}

.cart_obj_price {
    margin: 2.604166666666667vw 9.765625vw 0 0;
    font-size: .9114583333333334vw;
    font-family: Lato, arial, sans-serif;
    color: #8a7522;
    letter-spacing: .06510416666666667vw
}

.order_obj_price {
    margin: 2.604166666666667vw 14.765625vw 0 0;
    font-size: .9114583333333334vw;
    font-family: Lato, arial, sans-serif;
    color: #8a7522;
    letter-spacing: .06510416666666667vw
}

.order_obj_quantity {
    margin: 2.604166666666667vw 13.765625vw 0 0;
    font-size: .9114583333333334vw;
    font-family: Lato, arial, sans-serif;
    color: #8a7522;
    letter-spacing: .06510416666666667vw
}

.cart_obj_input {
    margin: 0 2.2786458333333335vw;
    font-size: .9114583333333334vw;
    font-family: Lato, arial, sans-serif;
    color: #8a7522;
    letter-spacing: .06510416666666667vw
}

.mailinput_width {
    width: 25%;
    font-size: 1.0416666666666667vw;
    margin-top: 1.5625vw;
    padding: 0 .9765625000000001vw;
    font-family: Lato, arial, sans-serif;
    color: #5e5e5e;
    height: 3.2552083333333335vw;
    border-style: solid;
    border-width: 0 0 .06510416666666667vw 0
}

.xxxxxxx {
    margin-left: 1.3020833333333335vw;
    font-family: Lato, arial, sans-serif;
    text-decoration: none;
    color: #6c6c6c
}

.cart_total_price {
    margin: 0;
    margin-top: 2.604166666666667vw;
    font-size: .9114583333333334vw;
    font-family: Lato, arial, sans-serif;
    color: #8a7522;
    letter-spacing: .06510416666666667vw
}

.order_total_price {
    margin: 0;
    margin-top: 2.604166666666667vw;
    font-size: .9114583333333334vw;
    font-family: Lato, arial, sans-serif;
    color: #8a7522;
    letter-spacing: .06510416666666667vw
}

.total_all_cart_price {
    margin: 0 8.0078125vw 3.9062500000000004vw 0;
    margin-top: 2.604166666666667vw;
    font-family: Lato, arial, sans-serif;
    color: #8a7522;
    float: right;
    letter-spacing: .06510416666666667vw
}

.checkout_button {
    letter-spacing: .13020833333333334vw;
    font-size: 1.0416666666666667vw;
    font-weight: 400;
    font-family: Lato, arial, sans-serif;
    color: #000;
    background-color: #d4b435;
    text-decoration: none;
    border-color: #d4b435;
    border-style: solid;
    border-width: .06510416666666667vw;
    padding: .9765625vw;
    transition: all .25s;
    margin-left: 64.77864583333334vw
}

.checkout_button:hover {
    box-shadow: rgb(187 187 187) 0 0 1.8229166666666667vw 0;
    background-color: rgb(220 189 66);
    color: #151515;
    border-color: rgb(220 189 66)
}

.send_button {
    letter-spacing: .13020833333333334vw;
    font-size: 1.0416666666666667vw;
    font-weight: 400;
    font-family: Lato, arial, sans-serif;
    color: #000;
    background-color: #d4b435;
    text-decoration: none;
    border-color: #d4b435;
    border-style: solid;
    border-width: .06510416666666667vw;
    padding: .9765625vw;
    transition: all .25s;
    margin-left: 26.041666666666668vw;
    margin-top: 3.2552083333333335vw
}

.send_button:hover {
    box-shadow: rgb(187 187 187) 0 0 1.8229166666666667vw 0;
    background-color: rgb(220 189 66);
    color: #151515;
    border-color: rgb(220 189 66)
}

.linkedin-share-button {
    margin: 0;
    position: absolute;
    left: 48.89322916666667vw;
    top: 193.5546875vw;
    font-size: .78125vw;
    text-decoration: none;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 600;
    background-color: #0a66c2;
    color: #fff;
    border-style: solid;
    border-width: .06510416666666667vw;
    border-radius: .1953125vw;
    padding: .13020833333333334vw .5208333333333334vw;
    border-color: #0a66c2
}

::-webkit-scrollbar {
    width: 0.4557291666666667vw;
    transition: all .5s
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0.32552083333333337vw #d4b43500;
    transition: all .5s
}

::-webkit-scrollbar-thumb {
    background: #a89037;
    transition: all .5s
}

::-webkit-scrollbar-thumb:hover {
    background: #6c5c20
}

.product_description {
    width: 75%;
    margin: 0 auto
}

.product_description h2 {
    font-family: Lato, arial, sans-serif;
    font-weight: 600;
    font-size: 2.734375vw;
    color: #ae9530;
    padding-top: 3.2552083333333335vw
}

.product_description p {
    font-size: 1.0416666666666667vw;
    color: #494949;
    font-family: Lato, arial, sans-serif
}

.product_description ul {
    font-size: 1.0416666666666667vw;
    color: #494949;
    font-family: Lato, arial, sans-serif
}

.product_description h4 {
    font-size: 1.0416666666666667vw;
    color: #494949;
    font-family: Lato, arial, sans-serif
}

.product_description h3 {
    font-size: 1.3020833333333335vw;
    color: #4c4c4c;
    font-family: Lato, arial, sans-serif
}

.chat_button {
    position: absolute;
    bottom: 1.9531250000000002vw;
    right: 3.2552083333333335vw;
    margin: 0;
    box-shadow: rgb(0 0 0 / 45%) 0 0.1953125vw 1.171875vw;
    padding: 0.6510416666666667vw 0.85114583333333334vw;
    font-size: 1.5531250000000002vw;
    border-radius: 6.510416666666667vw;
    background-color: #41b951;
    position: fixed
}