body {
    margin: 0;
}

.banner {
    height: 20.8px;
    text-align: center;
    font-size: 14px;
    margin: 0;
    padding: 4px 0;
    background-color: rgb(212, 180, 53);
    font-family: Lato, arial, sans-serif;
    font-weight: 400;
}

.banner-p {
    margin: 0;
    color: rgb(22, 22, 22);
    letter-spacing: 2px;
    padding-top: 1.5px;
}

.header-block {
    background-color: white;
    height: 152px;
    width: 100%;
}

.header-block-container {
    margin: auto;
    padding: 32px 24px 32px 24px;
    height: 88px;
    background-color: white;
}

.ul-continer {

    list-style: none;
}

.li-div {
    display: flex;
    padding: 20px 336px;
}

.li-container {
    font-family: Lato, arial, sans-serif;
    padding: 0 16px;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 3px;
    color: rgb(87, 87, 87);
}